<div class="form-wrapper login">
  <h1>Login</h1>
  <%= form_with data: {turbo: false} do |f| %>
    <div class="field">
      <%= icon("fa","user") %>
      <%= f.text_field :username, placeholder:"Username", required: true %>
    </div>
    <div class="field">
      <%= icon("fa","key") %>
      <%= f.password_field :password, placeholder:"Password", required: true %>
    </div>
    <div class="field">
      <%= f.submit "Log In" %>
    </div>
    <span>
      Not a member? <%= link_to "Sign up", signup_path %>
    </span>
  <% end %>
</div>
