<nav class="nav-search">
  <ul>
    <%= search_tab_link 'all' %>
    <%= search_tab_link 'users' %>
    <%= search_tab_link 'posts' %>
    <%= search_tab_link 'communities' %>
    <%= search_tab_link 'comments' %>
  </ul>
</nav>
