<nav class="nav-user">
  <ul>
    <%= user_tab_link "overview", user%>
    <%= user_tab_link "posts", user %>
    <%= user_tab_link "comments", user %>
    <% if Current.user == user %>
      <%= user_tab_link "saved", user %>
      <%= user_tab_link "drafts", user %>
    <% end %>
  </ul>
</nav>
