<div class="form-wrapper user-editform" data-controller="user">
  <%= form_with model: @user do |f| %>
    <h1><%= @user.username %></h1>
    <%= f.label :avatar, "Edit Profile Picture" %><br>
    <div class="user-avatar__wrapper" data-target="user.avatarWrapper">
      <%= user_avatar_img @user, "medium", { target: "user.avatar" } %>
    </div>
    <%= f.file_field :avatar, class: "hidden", data: {action: "user#updateAvatar", target:"user.avatarInput"} do %>
    <% end %>
    <p>
      <%= f.label :bio %><br>
      <%= f.text_area :bio %>
    </p>
    <%= f.submit "Save Changes" %>
  <% end %>
</div>
