<main>
  <% content_for :header do %>
    <%= render "nav", user: @user %>
  <% end %>
  <% if local_assigns[:editable] %>
    <%= render "edit_sidebar", user: @user %>
  <% else %>
    <%= render "sidebar", user: @user %>
  <% end %>
  <section class="<%= "fullwidth" if @fullwidth %>">
    <%= render @tab %>
  </section>
</main>
