<main>
  <% content_for :header do %>
    <%= render "nav", user: @user %>
  <% end %>
  <aside>
    <article class="titled user-profile">
      <h1><%= @user.username %></h1>
      <%= image_tag @user.avatar, class: "user-avatar medium" %>
      <% unless @user.bio.blank? %>
        <p><%= @user.bio %></p>
      <% end %>
      <p>
        Joined <%= time_ago_in_words(@user.created_at) %> ago<br>
        Posts: <%= @user.posts.count %><br>
        Comments: <%= @user.comments.count %><br>
      </p>
      <%= follow_button @user %>
      <% if Current.user && @user == Current.user %>
        <%= link_to edit_user_path(@user.username) do %>
          <%= icon("fa","pen") %> Edit Profile
        <% end %>
      <% end %>
    </article>
    <article class="titled">
      <h1>Followers</h1>
      <% unless @user.followers.exists? %>
        <p>No followers yet!</p>
      <% else %>
        <ul>
          <% @followers.each do |follower| %>
            <%= render "users/list_item", user: follower %>
          <% end %>
        </ul>
      <% end %>
    </article>
  </aside>
  <section class="<%= "fullwidth" if @fullwidth %>">
    <%= render @tab %>
  </section>
</main>
