<main>
  <% content_for :header do %>
    <%= render "nav", user: @user %>
  <% end %>
  <aside>
    <article class="titled user-stats">
      <h1><%= @user.username %></h1>
      <p>
        Joined <%= time_ago_in_words(@user.created_at) %> ago<br>
        Posts: <%= @user.posts.count %><br>
        Comments: <%= @user.comments.count %><br>
      </p>
      <%= follow_button @user %>
    </article>
    <article class="titled">
      <h1>Followers</h1>
      <% unless @user.followers.exists? %>
        <p>No followers yet!</p>
      <% else %>
        <ul>
          <% @followers.each do |follower| %>
            <li><%= link_to follower.username, user_path(follower.username) %></li>
          <% end %>
        </ul>
      <% end %>
    </article>
  </aside>
  <section class="<%= "fullwidth" if @fullwidth %>">
    <%= render @tab %>
  </section>
</main>
