<div class="form-wrapper login">
  <h1>SignUp</h1>
  <%= form_with model: @user, data: {turbo:false}, url: signup_path do |f| %>
    <div class="field">
      <%= icon("fa","user") %>
      <%= f.text_field :username, placeholder:"Username", required:true %>
    </div>
    <div class="field">
      <%= icon("fa","envelope") %>
      <%= f.email_field :email, placeholder: "Email", required: true %>
    </div>
    <div class="field">
      <%= icon("fa","lock") %>
      <%= f.password_field :password, placeholder: "Password", required: true %>
    </div>
    <div class="field">
      <%= icon("fa","key") %>
      <%= f.password_field :verify, placeholder: "Verify Password
      ", required: true %>
    </div>
    <div class="field">
      <%= f.submit "Sign Up" %>
    </div>
    <span>
      Already a member? <%= link_to "Login", login_path %>
    </span>
  <% end %>
</div>
