<div class="list-item <%= class_name %>-list-item">
  <div class="left">
    <%= avatar %>
  </div>
  <div class="right">
    <div class="top">
      <%= top_text %>
    </div>
    <div class="bottom">
      <%= bottom_text %>
    </div>
  </div>
  <div class="righter">
    <%= button %>
  </div>
</div>
