<article class="post" data-id="<%= post.id %>" data-controller="post" data-post-target="wrapper">
  <div class="post__score">
    <%= upvote_button post %>
    <span><%= post.score %></span>
    <%= downvote_button post %>
  </div>
  <div class="post__content">
    <section class="post__head">
      posted by <%= link_to post.user.username, user_path(post.user.username) %> <%= time_ago_in_words post.created_at %> ago
    </section>
    <h3><%= post.title %></h3>
    <% if post.media_post? && !post.archived? %>
      <%= link_to post_path(post), class:"post__media" do %>
        <%= image_tag post.media[0], alt: post.media[0].name %>
      <% end %>
    <% elsif post.link_post? && !post.archived? %>
      <a href="<%= post.url %>"><%= post.url %></a>
      <a href="<%= post.url %>" class="no-underline link-preview">
        <div class="link-preview__thumb">
          <%= image_tag post.link.thumb_src, alt:"#{post.url} thumbnail" %>
        </div>
        <div class="link-preview__main">
          <strong class="link-preview__title">
            <%= image_tag post.link.favicon_src, class: "link-preview__favicon", alt: "favicon" %>
            <%= post.link.title %>
          </strong>
          <p class="link-preview__description">
            <%= post.link.description %>
          </p>
          <span class="link-preview__host">
            <%= icon("fa","link") %> <%= Addressable::URI.parse(post.url).host %>
          </span>
        </div>
      </a>
    <% else %>
      <p><%= post.body %></p>
    <% end %>
    <section class="post__footer">
      <%= button_to post_path(post), method: :get do %>
        <%= icon("fa-regular", "comment") %>
        <%= post.comments.count %> comments
      <% end %>
      <%= save_button post %>
      <%= archive_button post %>
    </section>
  </div>
</article>
