<article class="post-compact post-draft post" data-id="<%= post.id %>" data-controller="post" data-post-target="wrapper" data-variant="compact">
  <div class="post__score">
    <%= upvote_button post %>
    <span><%= post.score %></span>
    <%= downvote_button post %>
  </div>
  <div class="post__content">
    <section class="post__head">
      Draft created by <%= link_to post.user.username, user_path(post.user.username) %>
      <%= time_ago_in_words post.created_at %> ago
    </section>
    <h3><%= post.title %></h3>
    <section class="post__footer">
      <%= button_to publish_post_path(post), method: :get do %>
        <%= icon("fa-solid", "paper-plane") %>
        Publish
      <% end %>
      <%= button_to edit_post_path(post), method: :get do %>
        <%= icon("fa-solid", "edit") %>
        Edit
      <% end %>
      <%= delete_button post %>
    </section>
  </div>
</article>
