<article class="post" data-id="<%= post.id %>" data-controller="post" data-post-target="wrapper">
  <div class="post__vote">
    <%= post_upvote_button post %>
    <span class="post__score"><%= post.score %></span>
    <%= post_downvote_button post %>
  </div>
  <div class="post__content">
    <section class="post__head">
      <% if local_assigns[:show_pins] && post.pinned? %>
        <%= icon("fa-solid", "thumbtack") %>
        by <%= link_to post.pin_owner.username, user_path(post.pin_owner.username) %>
      <% end %>
      posted by <%= link_to post.user.username, user_path(post.user.username) %> <%= time_ago_in_words post.created_at %> ago
      <span class="id"><%= link_to "POST##{post.id}", post %></span>
    </section>
    <h3><%= post.title %></h3>
    <% if post.media_post? && !post.archived? %>
      <%= render "posts/lightbox", media: post.media %>
    <% elsif post.link_post? && !post.archived? %>
      <a href="<%= post.url %>"><%= post.url %></a>
      <a href="<%= post.url %>" class="no-underline link-preview">
        <div class="link-preview__thumb">
          <%= image_tag post.link.thumb_src, alt:"#{post.url} thumbnail" %>
        </div>
        <div class="link-preview__main">
          <span class="link-preview__title">
            <%= image_tag post.link.favicon_src, class: "link-preview__favicon", alt: "favicon" %>
            <strong><%= post.link.title %></strong>
          </span>
          <p class="link-preview__description">
            <%= post.link.description %>
          </p>
          <span class="link-preview__host">
            <%= icon("fa","link") %> <%= Addressable::URI.parse(post.url).host %>
          </span>
        </div>
      </a>
    <% else %>
      <p><%= post.body %></p>
    <% end %>
    <section class="post__footer">
      <%= button_to post_path(post), method: :get do %>
        <%= icon("fa-regular", "comment") %>
        <%= post.comments.count %> comments
      <% end %>
      <%= post_save_button post %>
      <%= archive_button post %>
    </section>
  </div>
</article>
