<main>
  <aside>
    <article class="titled">
      <h1>About RedditOnRails</h1>
      <p>
        RedditOnRails is a clone of the popular social news website
        <a href="http://www.reddit.com">Reddit</a>. It was built using
        <a href="http://rubyonrails.org">Ruby on Rails</a> and
        <a href="http://www.mysql.com">MySQL</a>.
        The source code is available on
        <a href="https://github.com/CuddlyBunion341/RedditOnRails">GitHub</a>
        under the MIT license.
      </p>
    </article>
    <article class="titled">
      <h1>Active Users</h1>
      <% unless @active_users.exists? %>
        <p>There are no active users.</p>
      <% else %>
        <ul>
          <% @active_users.each do |user| %>
            <%= render "users/list_item", user: user%>
          <% end %>
        </ul>
      <% end %>
    </div>
  </aside>
  <section id="feed">
    <%= render "new_post" %>
    <article class="padded">
      <h1><%= (params[:sort] == "top") ? "Popular" : "New"%> Posts</h1>
      <%= render "sort" %>
    </article>
    <% unless @posts.exists? %>
      <p>There are no posts yet.</p>
    <% else %>
      <% @posts.each do |post| %>
        <% if post.public? %>
          <%= render "post", post: post %>
        <% end%>
      <% end %>
    <% end %>
  </section>
</main>
