<div class="form-wrapper post-form" data-controller="post-form">
  <h1>Create Post</h1>
  <div class="errors">
    <% if @post.errors.any? %>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= form_with model: @post do |f| %>
    <div class="post-form__tabs" data-post-form-target="tabs">
      <%= tab_button f, 0, icon("fa-regular", "file-lines"), true %>
      <%= tab_button f, 1, icon("fa-regular", "image") %>
      <%= tab_button f, 2, icon("fa", "link") %>
    </div>
    <div class="post-form__main">
      <div class="field">
        <%= render "communities/dropdown" %>
        <%= f.text_field :title, class: error_class(@post, :title), placeholder: "Title" %>
      </div>
      <div class="tab-wrapper" data-post-form-target="wrapper">
        <div id="tab0" class="tab">
          <%= f.text_area :body, class: error_class(@post, :body), placeholder: "Text" %>
        </div>
        <div id="tab1" class="tab hidden">
          <%= f.label :media, class:"upload-region", data: {
            "post-form-target": "dropzone",
            action: "
            drop->post-form#uploadDrop 
            dragover->post-form#uploadDragOver dragleave->post-form#uploadDragLeave"
          } do %>
            Drag and drop media or click
            <%= f.file_field :media, :multiple => true, class: "", data: {
            action: "change->post-form#upload", "post-form-target": "upload"
          } %>
          <% end %>
          <div class="post-form__attachments" data-post-form-target="uploadList">
            <% if @post.media.attached? %>
              <%= @post.media.attachments.inspect %>
              <% @post.media.each do |media| %>
                <picture>
                  <%= image_tag media %>
                  <button class="removebtn" data-file="<%= attachment_identifier(media) %>">✕</button>
                </picture>
              <% end %>
            <% end %>
          </div>
        </div>
        <div id="tab2" class="tab hidden">
          <%= f.text_field :url, placeholder: "Url" %>
        </div>
      </div>
      <div class="actions submit">
        <% if @post.draft? %>
          <%= f.submit 'Publish', name: :publish %>
        <% else %>
          <%= f.submit 'Post' %>
        <% end %>
        <%= f.submit 'Save Draft', name: :draft %>
      </div>
    </div>
  <% end %>
</div>
