<% if @post.community %>
  <%= render "communities/banner", community: @post.community %>
<% end %>
<main>
  <% if @post.community %>
    <%= render "communities/sidebar", community: @post.community %>
  <% end %>
  <section class="show-post">
    <%= render "post", post: @post %>
    <div class="comments-wrapper">
      <%= render "comments/form" %>
      <% unless @comments.count %>
        <p>No comments yet!</p>
      <% else %>
        <% @comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      <% end%>
    </div>
  </section>
</main>
