<div class="community">
  <div class="community__header">
    <div class="community__header__image">
      <!-- TODO -->
    </div>
    <div class="community__header__content">
      <h1 class="name"><%= @community.name %></h1>
      <p class="shortname">s/<%= @community.shortname %></p>
    </div>
  </div>
</div>
<main>
  <aside>
    <article class="community__about titled">
      <h1>About</h1>
      <p><%= @community.description %></p>
      <hr>
      <p>
        Created 
        <%= time_ago_in_words @community.created_at %>
        ago
      </p>
      <p>
        <%= icon("fa-regular","file-lines") %>
        <%= @community.posts.count %>
        Posts
      </p>
      <p>
        <%= icon("fa-regular","user") %>
        0
        Members
      </p>
    </article>
    <article class="titled">
      <h1>Active Users</h1>
      <% unless @active_users.exists? %>
        <p>No active users yet!</p>
      <% else %>
        <ul>
          <% @active_users.each do |user| %>
            <%= render "users/list_item", user: user %>
          <% end %>
        </ul>
      <% end %>
    </article>
  </aside>
  <section id="feed">
    <%= render "posts/new_post" %>
    <article class="padded">
      <h1><%= (params[:sort] == "top") ? "Popular" : "New"%> Posts</h1>
      <%= render "posts/sort" %>
    </article>
    <% unless @community.posts.exists? %>
      <article class="titled">
        <p>No posts yet!</p>
      </article>
    <% end %>
    <% @community.posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
  </section>
</main>
