<%= render "banner", community: @community %>
<main>
  <%= render "sidebar", community: @community %>
  <section id="feed">
    <%= render "posts/new_post", community_id: @community.id %>
    <%= render "posts/sort" %>
    <% unless @posts.exists? %>
      <article class="titled">
        <p>No posts yet!</p>
      </article>
    <% end %>
    <% @posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
  </section>
</main>
