<%= render "banner", community: @community %>
<main>
  <%= render "sidebar", community: @community %>
  <section id="feed">
    <%= render "posts/new_post", community_id: @community.id %>
    <article class="padded">
      <h1><%= (params[:sort] == "top") ? "Popular" : "New"%> Posts</h1>
      <%= render "posts/sort" %>
    </article>
    <% unless @community.posts.exists? %>
      <article class="titled">
        <p>No posts yet!</p>
      </article>
    <% end %>
    <% @community.posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
  </section>
</main>
