<nav class="nav-main">
  <ul>
    <%= nav_link image_tag( "logo.svg"), root_path, "logo" %>
    <% if Current.user %>
      <%= nav_link "Create Post", new_post_path %>
      <li class="dropdown">
          <button type="button" class="dropdown__title" href="#">
            <%= @username %>
            <%= icon("fa","chevron-down") %>
          </button>
        <ul class="dropdown__content">
          <%= nav_link "Profile", user_path(@username), '', icon('fa','user') %>
          <%= nav_link "New Community", new_community_path, '',icon('fa','users-line') %>
          <%= nav_button "Logout", logout_path, "logout", icon('fa','arrow-right-from-bracket') %>
        </ul>
      </li>
    <% else %>
      <%= nav_link "SignUp", signup_path, "register-btn" %>
      <%= nav_link "LogIn", login_path, "login-btn" %>
    <% end %>
  </ul>
</nav>

