<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <ul>
        <%= nav_link "Home", root_path %>
        <% if Current.user %>
          <li><%= button_to 'Logout', logout_path, method: :delete%></li>
          <li>Logged in as <%= Current.user.username %></li>
        <% else %>
          <%= nav_link "SignUp", signup_path %>
          <%= nav_link "LogIn", login_path %>
        <% end %>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
