<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RedditOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="RedditOnRails is a Reddit clone built with the Ruby on rails technology and is free and open sourced under the MIT license">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="popup">
      <% flash.each do |name, msg| %>
        <div class="flash <%= name %>">
          <%= msg %>
        </div>
      <% end %>
    </div>
    <header>
      <nav class="nav-main">
        <ul>
          <%= nav_link image_tag( "logo.svg"), root_path, "logo" %>
          <% if Current.user %>
            <%= nav_link "Create Post", new_post_path, "flex" %>
            <li class="dropdown">
              <input type="checkbox" id="user-drop">
              <label for="user-drop">
                <%= @username %>
                <%= icon("fa","chevron-down") %>
              </label>
              <ul class="dropdown__content">
              <%= nav_link "Profile", user_path(@username) %>
              <%= nav_link "Create a Community", "#", "flex" %>
              <%= nav_button "Logout", logout_path, "logout" %>
              </ul>
            </li>
          <% else %>
            <%= nav_link "SignUp", signup_path %>
            <%= nav_link "LogIn", login_path %>
          <% end %>
        </ul>
      </nav>
      <%= yield :header %>
    </header>
    <%= yield %>
  </body>
</html>
