<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="popup">
      <% flash.each do |name, msg| %>
        <div class="flash <%= name %>">
          <%= msg %>
        </div>
      <% end %>
    </div>
    <header>
      <nav class="nav-main">
        <ul>
          <%= nav_link "RedditOnRails", root_path %>
          <% if Current.user %>
            <%= nav_link "Create Post", create_post_path %>
            <%= nav_link "Logged in as #{@username}", user_path(@username) %>
            <li><%= button_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <%= nav_link "SignUp", signup_path %>
            <%= nav_link "LogIn", login_path %>
          <% end %>
        </ul>
      </nav>
      <%= yield :header %>
    </header>
    <%= yield %>
  </body>
</html>
