<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RedditOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="RedditOnRails is a Reddit clone built with the Ruby on rails technology and is free and open sourced under the MIT license">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="popup">
      <% flash.each do |name, msg| %>
        <div class="flash <%= name %>">
          <%= msg %>
        </div>
      <% end %>
    </div>
    <header>
      <%= render "layouts/nav" %>
      <%= yield :header %>
    </header>
    <%= yield %>
  </body>
</html>
